.task {
  padding: 8px 5px;
  margin: 5px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 50%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  span {
    padding: 0px 15px;
  }

  .task-actions {
    svg {
      cursor: pointer;
      &:hover {
        color: $dark_blue
      }
    }
  }
}