.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-direction: column;
    background: #F9F9FA;
    padding: 7px;
  }

  .add-button {
    margin: 5px auto;
    background: $yellow;
    color: black;
    &:hover {
      background: $dark_yellow;
    }
  }
}