.input-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  background: white;
  padding: 3px;
  border-radius: 8px;

  .input {
    border-width:0px;
    border:none;
    margin: 0px 10px;
    &:focus {
      outline: none;
    }
  }
}